@import url("../../../src/root.css");

.navbar {
	height: 10vh;
	display: flex;
	background-color: var(--color-primary);
}

.navbar-list {
	display: flex;
	flex: 1;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	list-style: none;
}

.list-item {
	text-decoration: none;
	margin-left: 5%;
	list-style:none;
	color: white;
}
