@import url("../../../src/root.css");

nav {
	align-items: center;
	background: cadetblue;
	justify-content: space-around;
}

.nav-link {
	width: 50%;
	align-items: center;
	justify-content: space-around;
	list-style: none;
}
