@import url("../../../src/root.css");

.products-section {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
}

.products-section button {
	text-align: center;
	align-items: center;
	position:relative;
	float:right;
	font-size:25px;
	border-radius: 20%;
	background-color: var(--color-primary);
}

.product-item {
	width: 400px;
	height: 52vh;
	border: 1px solid black;
	margin: 10px;
	border-radius: 10px;
	padding: 5px;
	position: relative;
}

.product-item img {
	max-height: 25vh;
}

.product-item button {
	position: absolute;
	bottom: 5px;
	right: 5px;
	
}

.activebtn {
	background-color: var(--color-primary);
	border-radius: 5px;
	height: 25px;
}

.ProductList {
	margin: auto;
	display: flex;
	justify-content:center;
}

.inputSearchBar {
	margin: auto;
	display: flex;
	justify-content:center;
}